@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  align-items: center;
  background-color: white;
}

.container {
  width: 100%;
  height: 30px;
  padding: 10px;
  justify-content: center;
  text-align: center;
<<<<<<< HEAD
=======

>>>>>>> master
}

.search-bar {
  border: none;
  background-color: transparent;
  outline: none;
  height: 40px;
  font-size: 30px;
  margin-left: 0 auto;
}

.go-button {
  border: none;
<<<<<<< HEAD
=======

>>>>>>> master
  /*visibility: hidden;*/
  font-size: 30px; color: #3fe836;
  text-align: center;
}

.search-text {
  font-size: 40px; color: #e88737;
  width: 100%;
  padding: 0;
  background-color: #8bd160;
  text-align: center;
}

.search-bar {
  border: none;
  background-color: transparent;
  outline: none;
  height: 40px;
  font-size: 30px;
  margin-left: 0 auto;
  }

.search-result {
  padding: 10px;
  border-color: #8bd160;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.search-image {
  float: left;
  border-spacing: 30px;
  border:5px solid #e88737;
  display: flex;
  flex: 1;
}

.text-info {
  /*border-spacing: 30px;
  border:5px solid #e88737;*/
  display: flex;
  flex: 1;
  flex-direction: column;
}

.label {
  font-size: 30px; color: #3fe836;
  display: flex;
  flex: 1;

}

.calories {
  font-size: 20px; color: black;
  display: flex;
  flex: 1;

}

.ingredients {
  float: right;
  font-size: 20px; color: black;
  display: flex;
  flex: 3;
}
